In [1]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from collections import Counter
import os

In [2]:
df=pd.read_csv("resources/HR_Data/Clean_ML_HRdata.csv")
df.head()

,Unnamed: 0,Age,Attrition,DistanceFromHome,Education,EmployeeID,Gender,JobLevel,MonthlyIncome,NumCompaniesWorked,...,JobRole_Laboratory Technician,JobRole_Manager,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single
0,0,51,0,3.750,2,1,0,1,1705.08,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,31,1,6.250,1,2,0,1,544.57,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
2,2,32,0,10.625,4,3,1,4,2512.64,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
3,3,38,0,1.250,5,4,1,3,1081.73,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,4,32,0,6.250,1,5,1,1,304.46,4.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0

In [3]:
df.drop('Unnamed: 0', axis=1, inplace = True)
df.head()

,Age,Attrition,DistanceFromHome,Education,EmployeeID,Gender,JobLevel,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,...,JobRole_Laboratory Technician,JobRole_Manager,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single
0,51,0,3.750,2,1,0,1,1705.08,1.0,11,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,31,1,6.250,1,2,0,1,544.57,0.0,23,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
2,32,0,10.625,4,3,1,4,2512.64,1.0,15,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
3,38,0,1.250,5,4,1,3,1081.73,3.0,11,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,32,0,6.250,1,5,1,1,304.46,4.0,12,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0

In [4]:
df.drop('StandardHours', axis=1, inplace = True)
df.head()

,Age,Attrition,DistanceFromHome,Education,EmployeeID,Gender,JobLevel,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,...,JobRole_Laboratory Technician,JobRole_Manager,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single
0,51,0,3.750,2,1,0,1,1705.08,1.0,11,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,31,1,6.250,1,2,0,1,544.57,0.0,23,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
2,32,0,10.625,4,3,1,4,2512.64,1.0,15,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
3,38,0,1.250,5,4,1,3,1081.73,3.0,11,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,32,0,6.250,1,5,1,1,304.46,4.0,12,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0

In [5]:
target = ["Attrition"]

In [6]:
X = df.drop("Attrition", axis=1)
X = pd.get_dummies(X)
X.head()

,Age,DistanceFromHome,Education,EmployeeID,Gender,JobLevel,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StockOptionLevel,...,JobRole_Laboratory Technician,JobRole_Manager,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single
0,51,3.750,2,1,0,1,1705.08,1.0,11,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,31,6.250,1,2,0,1,544.57,0.0,23,1,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
2,32,10.625,4,3,1,4,2512.64,1.0,15,3,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
3,38,1.250,5,4,1,3,1081.73,3.0,11,3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,32,6.250,1,5,1,1,304.46,4.0,12,2,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0

In [7]:
X.describe()

,Age,DistanceFromHome,Education,EmployeeID,Gender,JobLevel,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StockOptionLevel,...,JobRole_Laboratory Technician,JobRole_Manager,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single
count,4300.000000,4300.000000,4300.000000,4300.000000,4300.000000,4300.000000,4300.000000,4300.000000,4300.000000,4300.000000,...,4300.000000,4300.000000,4300.000000,4300.000000,4300.000000,4300.000000,4300.000000,4300.000000,4300.000000,4300.000000
mean,36.926977,5.748692,2.913256,2211.695116,0.597907,2.066977,845.777974,2.690000,15.210698,0.795349,...,0.176047,0.069535,0.098140,0.054651,0.199767,0.222326,0.056047,0.220698,0.457907,0.321395
std,9.146517,5.060662,1.024774,1272.117692,0.490378,1.106633,611.590186,2.495764,3.662777,0.853534,...,0.380904,0.254391,0.297538,0.227325,0.399872,0.415857,0.230038,0.414765,0.498283,0.467066
min,18.000000,0.625000,1.000000,1.000000,0.000000,1.000000,131.170000,0.000000,11.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,1.250000,2.000000,1110.750000,0.000000,1.000000,380.380000,1.000000,12.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,36.000000,4.375000,3.000000,2215.500000,1.000000,2.000000,641.680000,2.000000,14.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,43.000000,8.750000,4.000000,3314.250000,1.000000,3.000000,1089.432500,4.000000,18.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
max,60.000000,18.125000,5.000000,4409.000000,1.000000,5.000000,2599.870000,9.000000,25.000000,3.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [8]:
from sklearn.preprocessing import LabelEncoder

# Create our target
le = LabelEncoder()
y = df.loc[:, target]
y[target[0]] = le.fit_transform(y[target])
y.head()

C:\Users\Jack Madden\anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:115: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

   Attrition
0          0
1          1
2          0
3          0
4          0

In [9]:
# Check the balance of our target values
y['Attrition'].value_counts()

0    3605
1     695
Name: Attrition, dtype: int64

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, 
                                                    stratify=y)
X_train.shape

(3225, 44)

In [11]:
3225/3705

0.8704453441295547

Oversampling

In [12]:
from imblearn.over_sampling import RandomOverSampler
ros = RandomOverSampler(random_state=1)
X_resampled, y_resampled = ros.fit_resample(X_train, y_train)
print(Counter(y_resampled['Attrition']))

Counter({0: 2704, 1: 2704})

In [13]:
X.describe()

,Age,DistanceFromHome,Education,EmployeeID,Gender,JobLevel,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StockOptionLevel,...,JobRole_Laboratory Technician,JobRole_Manager,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single
count,4300.000000,4300.000000,4300.000000,4300.000000,4300.000000,4300.000000,4300.000000,4300.000000,4300.000000,4300.000000,...,4300.000000,4300.000000,4300.000000,4300.000000,4300.000000,4300.000000,4300.000000,4300.000000,4300.000000,4300.000000
mean,36.926977,5.748692,2.913256,2211.695116,0.597907,2.066977,845.777974,2.690000,15.210698,0.795349,...,0.176047,0.069535,0.098140,0.054651,0.199767,0.222326,0.056047,0.220698,0.457907,0.321395
std,9.146517,5.060662,1.024774,1272.117692,0.490378,1.106633,611.590186,2.495764,3.662777,0.853534,...,0.380904,0.254391,0.297538,0.227325,0.399872,0.415857,0.230038,0.414765,0.498283,0.467066
min,18.000000,0.625000,1.000000,1.000000,0.000000,1.000000,131.170000,0.000000,11.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,1.250000,2.000000,1110.750000,0.000000,1.000000,380.380000,1.000000,12.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,36.000000,4.375000,3.000000,2215.500000,1.000000,2.000000,641.680000,2.000000,14.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,43.000000,8.750000,4.000000,3314.250000,1.000000,3.000000,1089.432500,4.000000,18.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
max,60.000000,18.125000,5.000000,4409.000000,1.000000,5.000000,2599.870000,9.000000,25.000000,3.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [14]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

C:\Users\Jack Madden\anaconda3\lib\site-packages\sklearn\utils\validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Jack Madden\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(random_state=1)

In [15]:
# Calculate predictions
y_pred = model.predict(X_test)

In [16]:
# Calculate the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score
balanced_accuracy_score(y_test,y_pred)

0.6575771492722007

In [17]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual High_Risk", "Actual Low_Risk"], columns=["Actual High_Risk", "Actual Low_Risk"])

cm_df

                  Actual High_Risk  Actual Low_Risk
Actual High_Risk               605              296
Actual Low_Risk                 62              112

In [18]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.91      0.67      0.64      0.77      0.66      0.43       901
          1       0.27      0.64      0.67      0.38      0.66      0.43       174

avg / total       0.80      0.67      0.65      0.71      0.66      0.43      1075

UNDERSAMPLING

In [19]:
from imblearn.under_sampling import ClusterCentroids
cc = ClusterCentroids(random_state=1)
X_resampled, y_resampled = cc.fit_resample(X_train, y_train)
print(Counter(y_resampled["Attrition"]))

Counter({0: 521, 1: 521})

In [20]:
modelU = LogisticRegression(solver='lbfgs', random_state=1)
modelU.fit(X_resampled, y_resampled)

C:\Users\Jack Madden\anaconda3\lib\site-packages\sklearn\utils\validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Jack Madden\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(random_state=1)

In [21]:
y_pred = modelU.predict(X_test)

In [22]:
balanced_accuracy_score(y_test, y_pred)

0.6332140533506831

In [23]:
cm2 = confusion_matrix(y_test, y_pred)

# Create a DataFrame from the confusion matrix.
cm2_df = pd.DataFrame(
    cm2, index=["Actual High_Risk", "Actual Low_Risk"], columns=["Predicted High_Risk", "Predicted Low_Risk"])

cm2_df

                  Predicted High_Risk  Predicted Low_Risk
Actual High_Risk                  442                 459
Actual Low_Risk                    39                 135

In [24]:
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.92      0.49      0.78      0.64      0.62      0.37       901
          1       0.23      0.78      0.49      0.35      0.62      0.39       174

avg / total       0.81      0.54      0.73      0.59      0.62      0.37      1075

Combination Sampling

In [25]:
from imblearn.combine import SMOTEENN

smote_enn = SMOTEENN(random_state=0)
X_resampled, y_resampled = smote_enn.fit_resample(X, y)
print(Counter(y_resampled['Attrition']))

Counter({1: 2245, 0: 1406})

In [26]:
modelENN = LogisticRegression(solver='lbfgs', random_state=1)
modelENN.fit(X_resampled, y_resampled)

C:\Users\Jack Madden\anaconda3\lib\site-packages\sklearn\utils\validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Jack Madden\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(random_state=1)

In [27]:
y_pred = modelENN.predict(X_test)

In [28]:
balanced_accuracy_score(y_test, y_pred)

0.6426097439626468

In [29]:
# Display the confusion matrix
cm3 = confusion_matrix(y_test, y_pred)

# Create a DataFrame from the confusion matrix.
cm3_df = pd.DataFrame(
    cm3, index=["Actual High_Risk", "Actual Low_Risk"], columns=["Predicted High_Risk", "Predicted Low_Risk"])

cm3_df

                  Predicted High_Risk  Predicted Low_Risk
Actual High_Risk                  490                 411
Actual Low_Risk                    45                 129

In [30]:
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.92      0.54      0.74      0.68      0.63      0.40       901
          1       0.24      0.74      0.54      0.36      0.63      0.41       174

avg / total       0.81      0.58      0.71      0.63      0.63      0.40      1075

SMOTE

In [31]:
from imblearn.over_sampling import SMOTE
X_resampled, y_resampled = SMOTE(random_state=1,
sampling_strategy='auto').fit_resample(
   X_train, y_train)
print(Counter(y_resampled['Attrition']))

Counter({0: 2704, 1: 2704})

In [32]:
modelS = LogisticRegression(solver='lbfgs', random_state=1)
modelS.fit(X_resampled, y_resampled)

C:\Users\Jack Madden\anaconda3\lib\site-packages\sklearn\utils\validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Jack Madden\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(random_state=1)

In [33]:
y_pred = modelS.predict(X_test)

In [34]:
balanced_accuracy_score(y_test, y_pred)

0.5955898299462921

In [35]:
# Display the confusion matrix
cm4 = confusion_matrix(y_test, y_pred)

# Create a DataFrame from the confusion matrix.
cm4_df = pd.DataFrame(
    cm4, index=["Actual High_Risk", "Actual Low_Risk"], columns=["Predicted High_Risk", "Predicted Low_Risk"])

cm4_df

                  Predicted High_Risk  Predicted Low_Risk
Actual High_Risk                  659                 242
Actual Low_Risk                    94                  80

In [36]:
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.88      0.73      0.46      0.80      0.58      0.35       901
          1       0.25      0.46      0.73      0.32      0.58      0.33       174

avg / total       0.77      0.69      0.50      0.72      0.58      0.34      1075

Random Forrest

In [37]:
!pip install -U imbalanced-learn

Requirement already satisfied: imbalanced-learn in c:\users\jack madden\anaconda3\lib\site-packages (0.9.1)
Requirement already satisfied: scikit-learn>=1.1.0 in c:\users\jack madden\anaconda3\lib\site-packages (from imbalanced-learn) (1.1.1)
Requirement already satisfied: joblib>=1.0.0 in c:\users\jack madden\anaconda3\lib\site-packages (from imbalanced-learn) (1.1.0)
Requirement already satisfied: numpy>=1.17.3 in c:\users\jack madden\anaconda3\lib\site-packages (from imbalanced-learn) (1.21.5)
Requirement already satisfied: scipy>=1.3.2 in c:\users\jack madden\anaconda3\lib\site-packages (from imbalanced-learn) (1.7.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\jack madden\anaconda3\lib\site-packages (from imbalanced-learn) (2.2.0)

In [38]:
from imblearn.ensemble import BalancedRandomForestClassifier
brf = BalancedRandomForestClassifier(n_estimators=100, random_state=1)
brf.fit(X_train, y_train)

C:\Users\Jack Madden\AppData\Local\Temp\ipykernel_18528\4188559140.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  brf.fit(X_train, y_train)

BalancedRandomForestClassifier(random_state=1)

In [39]:
y_pred_brf = brf.predict(X_test)
balanced_accuracy_score(y_test, y_pred_brf)

0.9571325602459592

In [40]:
print(classification_report_imbalanced(y_test, y_pred_brf))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.99      0.95      0.96      0.97      0.96      0.92       901
          1       0.80      0.96      0.95      0.87      0.96      0.92       174

avg / total       0.96      0.96      0.96      0.96      0.96      0.92      1075

In [41]:
sorted(zip(brf.feature_importances_, X.columns), reverse=True)

[(0.08089240121957782, 'Age'),
 (0.07229263793827248, 'TotalWorkingYears'),
 (0.06716741244236442, 'MonthlyIncome'),
 (0.06045724199487344, 'YearsAtCompany'),
 (0.05679799178458187, 'YearsWithCurrManager'),
 (0.04737367447256194, 'DistanceFromHome'),
 (0.047205867943362706, 'NumCompaniesWorked'),
 (0.04225577834063372, 'PercentSalaryHike'),
 (0.03779039656636137, 'TrainingTimesLastYear'),
 (0.03656613491328336, 'EmployeeID'),
 (0.03443000137134337, 'JobSatisfaction'),
 (0.033942080931259264, 'YearsSinceLastPromotion'),
 (0.032921658246131545, 'EnvironmentSatisfaction'),
 (0.029717469091213745, 'WorkLifeBalance'),
 (0.02598697683168786, 'JobLevel'),
 (0.025746894116803077, 'Education'),
 (0.02365749447718673, 'JobInvolvement'),
 (0.022407227031929416, 'MaritalStatus_Single'),
 (0.02156227252381828, 'StockOptionLevel'),
 (0.012640570492690368, 'BusinessTravel_Travel_Frequently'),
 (0.01181317076200641, 'JobRole_Sales Executive'),
 (0.011685448603085746, 'MaritalStatus_Married'),
 (0.011110935066811477, 'EducationField_Life Sciences'),
 (0.011067972215386903, 'JobRole_Research Scientist'),
 (0.010284378698741168, 'Gender'),
 (0.010225855838022154, 'MaritalStatus_Divorced'),
 (0.01003591389995249, 'BusinessTravel_Travel_Rarely'),
 (0.00974752188396039, 'EducationField_Medical'),
 (0.008908697494961827, 'Department_Sales'),
 (0.008894138585727752, 'Department_Research & Development'),
 (0.008494009085103851, 'JobRole_Laboratory Technician'),
 (0.008051603400726644, 'PerformanceRating'),
 (0.007941099559122873, 'BusinessTravel_Non-Travel'),
 (0.006490927817293728, 'EducationField_Marketing'),
 (0.006485533802313491, 'JobRole_Manufacturing Director'),
 (0.006327034584184206, 'JobRole_Sales Representative'),
 (0.0061457636564568085, 'JobRole_Healthcare Representative'),
 (0.0061009092291037246, 'Department_Human Resources'),
 (0.005744285789855258, 'EducationField_Technical Degree'),
 (0.00532646925180072, 'JobRole_Manager'),
 (0.0048884233379583785, 'JobRole_Human Resources'),
 (0.004431684469996593, 'EducationField_Other'),
 (0.0044198883587429965, 'JobRole_Research Director'),
 (0.00356615187874772, 'EducationField_Human Resources')]

In [42]:
print(classification_report_imbalanced(y_test, y_pred_brf))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.99      0.95      0.96      0.97      0.96      0.92       901
          1       0.80      0.96      0.95      0.87      0.96      0.92       174

avg / total       0.96      0.96      0.96      0.96      0.96      0.92      1075

Easy Ensemble

In [43]:
from imblearn.ensemble import EasyEnsembleClassifier
EE_model = EasyEnsembleClassifier(n_estimators=100, random_state=1)
EE_model.fit(X_train, y_train)
print(Counter(y_train['Attrition']))

C:\Users\Jack Madden\anaconda3\lib\site-packages\sklearn\ensemble\_bagging.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Counter({0: 2704, 1: 521})

In [44]:
y_pred = EE_model.predict(X_test)

In [45]:
balanced_accuracy_score(y_test,y_pred)

0.744619643563346

In [46]:
# Display the confusion matrix
cm5 = confusion_matrix(y_test, y_pred)

# Create a DataFrame from the confusion matrix.
cm5_df = pd.DataFrame(
    cm5, index=["Actual High_Risk", "Actual Low_Risk"], columns=["Predicted High_Risk", "Predicted Low_Risk"])

cm5_df

                  Predicted High_Risk  Predicted Low_Risk
Actual High_Risk                  679                 222
Actual Low_Risk                    46                 128

In [47]:
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.94      0.75      0.74      0.84      0.74      0.56       901
          1       0.37      0.74      0.75      0.49      0.74      0.55       174

avg / total       0.84      0.75      0.74      0.78      0.74      0.56      1075